.stats-div{
    display: flex;
    color: white;
    width: 100%;
    justify-content: space-between;
    gap: 30px;

}
@media (max-width:1024px) {
    .stats-div{
        display: flex;
        flex-direction: column;

    }
    .stats-left-cont h1{
        text-align: center;
    }
   
}
.stats-left-cont{
    margin: 0px;

}
.stats-left-cont h1{
    font-size: 36px;
}
.stats-count-div{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.stats-count-div h3{
    text-align: center;
    background-color: rgb(201 253 2);
    color: black;
    padding: 5px;
    border-radius: 15px;
}